/* styles/base/reset.css */
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */
}
*, *::before, *::after {
    box-sizing: inherit;
}

/* Otros resets existentes */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

/* Listas, links, botones, imágenes, etc. */
ul, ol { 
    list-style: none; 
}

a { 
    text-decoration: none; color: inherit; 
}

button { 
    background: none; 
    border: none; 
    cursor: pointer; 
    font: inherit; 
}

img { 
    display: block; 
    max-width: 100%; 
}